body {
  padding-top: 54px;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: grayscale;
  background-color: #edf0f5 !important;
}
.ui.borderless.menu {
  background-color: #283e4a;
  color: white !important;
  box-shadow: none;
  flex-wrap: wrap;
  border: none;
  padding-left: 0;
  padding-right: 0;
}
.ui.borderless.menu .header.item {
  color: white !important;
  font-size: 18px;
  font-weight: 400;
}

.bars {
  color: white !important;
}

.bars:active {
  color: black !important;
}

.ui.mobile.only.grid .ui.menu .ui.vertical.menu {
  background-color: #283e4a !important;
  display: none;
}
.ui.mobile.only.grid .ui.vertical.menu .dropdown.icon {
  background-color: #283e4a !important;
  float: unset;
  color: white !important;
}
.ui.mobile.only.grid .ui.vertical.menu .dropdown.icon:before {
  background-color: #283e4a !important;
}
.item {
  color: white !important;
}
.ui.mobile.only.grid .ui.vertical.menu .ui.dropdown.item .menu {
  position: static;
  width: 100%;
  background-color: #283e4a !important;
  border: none;
  box-shadow: none;
}
.ui.mobile.only.grid .ui.vertical.menu .ui.dropdown.item .menu {
  color: white !important;
  margin-top: 6px;
}

footer {
  bottom: 0;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 0;
  background-color: #283e4a;
}
footer p {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
}
.name:hover {
  text-decoration: underline;
}

a:hover {
  color: blue;
}

@media only screen and (min-width: 768px) {
  .ui.container {
    width: 700px;
    max-width: 700px;
  }
  nav.ui.container .ui.header {
    float: left;
    margin-top: 12px;
  }
  nav.ui.container .ui.inverted.compact.menu {
    float: right;
  }
}
.ui.inverted.vertical.center.aligned.segment {
  padding-top: 36px;
}
.ui.inverted.vertical.segment {
  height: 100vh;
  background-color: #edf0f5
}
.ui.content.container {
  height: 300px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.ui.content.container h1.header {
  font-size: 36px;
}
.ui.content.container p {
  font-size: 21px;
  line-height: 1.6;
  font-weight: 300;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.ui.inverted.vertical.segment footer.ui.segment {
  height: 80px;
  width: 100%;
  position: absolute;
  bottom: 0;
  color: black;
}
.ui.inverted.vertical.segment footer.ui.segment a {
  color: black;
}
