<div class="ui container">
    <br>
    <h1 class="ui header">
        About Easynet,
    </h1>
    <br>
    <p>Hi, my name is Zubeir Mohamed I am a CS student. I built this app to learn more about Database design and complexity, let me know if you like it :)</p>
    <p> Here you can find <a href="/privacy-policy">privacy information</a>
    </p>
    <strong>You can find me at: </strong> <br> <br>
    <a href="https://www.linkedin.com/in/zubeir-mohamed-29668217b/" target="_blank">
      <i class="ui linkedin icon"></i> Linkedin
    </a> <br>
    <a href="https://twitter.com/ZubeirMohamed2" target="_blank">
      <i class="ui twitter icon"></i> Twitter
    </a> <br>
    <a href="https://github.com/zubeir68" target="_blank">
      <i class="ui github icon"></i> Github
    </a><br>
    <a href="mailto:zubeir.mohamed@outlook.de">
        <i class="ui mail icon"></i> Email
    </a>
</div>