<div class="ui inverted vertical center aligned segment">
    <div class="ui content container">
        <h1 class="ui header">Welcome to Easynet</h1>
        <p style="color: black">
           A lightweight Social Network project. You can add posts and personalize your account.
        </p>
        <a href="/feed">
          <div class="ui huge blue button">Learn more</div>
        </a>
    </div>
    <footer class="ui inverted vertical segment">
        ©2019 <a href="https://zubeirtech.herokuapp.com">Zubeirtech</a>
    </footer>
</div>