<div class="ui container">
    <div class="ui basic centered aligned segment">
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1 class="ui huge center aligned header">Welcome to Easynet</h1>
        <h2 class="ui medium center aligned header">A small social media project where you can post and personalize your Account. <br><br><br>
           {{#link-to "feed"}}
              <button class="ui blue button">Get started</button>
           {{/link-to}}
        </h2>
    </div>
</div>